%card{
    background-color: $colorPrincipal;
    width: 250px;
    border: solid 3px $colorSecundario;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    font-family: Roboto-Regular;
    font-size: 15px;
    transition: 0.5s;
    &:hover{
        transform: translate(10px,30px);
    }
}
